.divClass{
color:red;
background:green;
display:inline-block;

}
span{
background:blue;
color:white;
margin-left:30px;
font-size:15px;
text-transform:Capitalize;
}
.btn{
display:block;
}
.btn:hover{
color:black;
background:white;
cursor:pointer;
border-radius:5px;
}
