.innerParagraph{
    color:blueviolet;
}
#outerP{
    color:red;
    position:absolute;
    top:0%;
    left:50%;
    width:250px;
    height: 100px;
    overflow-x: scroll;
    overflow-y: scroll;
}
p:hover{
    cursor:pointer;
}
#sidebarElement{
height:100px;
text-align:center;
width:250px;
overflow-x:scroll;
overflow-y:scroll;
}
#outerDiv{
    height:800px;
    width:250px;
    display:inline-block;
    background: #998d8d;
}
.sidebarElement :hover{
    cursor:pointer;
}